include LICENSE.txt
include README.rst
recursive-include cmsplugin_gridloading/locale *
recursive-include cmsplugin_gridloading/static *
recursive-include cmsplugin_gridloading/templates *
recursive-exclude * *.pyc
